* {
  line-height: 1.5;
  box-sizing: border-box;
  font-family: "SF Pro Display", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  background: #f5f5f559;
  font-family: 'MegaFon Graphik LC', arial, sans-serif;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  position: relative;
}


html,
body,
div,
span,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

img {
  border-style: none;
}

/* stylelint-enable */
